

@media (max-width: 1024px){

    /* HEADER */

    .header{
        top: 0;
        left: 0;
        padding-left: 15px;
        padding-right: 15px;
    }

    .nav-right{
        gap: 32px;
    }
    
.logo{
    width: fit-content;
    font-weight: 400;
    font-size: 25px;
}

    .header .logo i{
        display: none;
    }

    .navbar ul{
        background-color: #C18B50;
        width: 65%;
        height: fit-content;
        position: absolute;
        top: 80px;
        right: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: none;
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 20px 20p;
        padding: 10px;
        transition: margin-right 4s 1s;
    }

    .navbar li{
        width: 100%;
        text-align: center;
        
    }
    .navbar a{
        text-align: center;
    }
    .navbar i{
        display: block;
    }

    #toggle-menu:checked ~ .navbar-list{
        display: flex;
    }

    /* MAIN */

    main{
        margin-top: 150px;
    }
    .hero-banner-img{
        display: none;
    }

    .about-us img{
        display: none;
    }


}

@media (max-width: 865px)
{
        /* FOOTER */

        .footer-top{
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 55%;
            text-align: center;
        }

        .footer-bottom{
            text-align: center;
            font-size: 40px;
        }

}

@media (max-width: 1500px){
    .about-info-img{
        display: none;
    }

    .about-info-p-bot{
        width: fit-content;
    }
}